@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* header*/
body {
    padding: 0;
    margin: 0;

}

.header {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    background-color: #0000b8;

}

.logo img {
    width: 25%;
    margin-top: 0;
}

.navbar {
    width: 30%;
    display: flex;
}

.menu {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0;

}

.lista {
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    list-style: none;
}

.lista a {
    text-decoration: none;
    color: #FFFFFF;
}

/*conteudo*/

.container {
    background-image: url(../Projeto-SPTECH/imagens/biblioteca.jpeg);
    background-size: cover;
    display: flex;
    height: 705px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}



.direito {
    border: 2px solid black;
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.esquerdo {
    border: 2px solid black;
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.sala1 {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: green;
    border: 2px solid white;
   justify-content: center;
}

.sala2 {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: red;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
}

.sala3 {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: red;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
}

.sala4 {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: green;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
}


/* footer */

.footer {
    background-color: #0000b8;
    color: #FFFFFF;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer span {
    font-weight: bolder;
    font-size: 30px;
    font-family: 'dancing script', cur sive;

}